@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
/*https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  --Linear-Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
  --Brand-Color-SkyBlue: #1cc3e8;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("/images/bg-top.svg"), url("/images/bg-bottom.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat;
  background-size: contain, auto;
  background-color: var(--Very-Light-Grayish-Blue);
  height: 100%;
  line-height: 1;
}
@media only screen and (max-width : 900px) {
  body {
    background-image: url("/images/bg-top.svg");
    background-position: 150% -10%;
    background-repeat: no-repeat;
    background-size: 60%;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 75%;
}
@media only screen and (max-width : 900px) {
  .main-container {
    width: 95%;
  }
}
@media only screen and (max-width : 625px) {
  .main-container {
    width: 100%;
  }
}
.main-container header {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.main-container header .title-wrapper {
  text-align: center;
}
.main-container header .title-wrapper .title {
  font-size: 1.5rem;
  color: var(--Dark-Grayish-Blue);
  margin-bottom: 1.5rem;
}
.main-container header .toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-container header .toggle-wrapper p {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--Light-Grayish-Blue);
}
.main-container header .toggle-wrapper .switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 27px;
  margin: 0 20px;
}
.main-container header .toggle-wrapper .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.main-container header .toggle-wrapper .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: hsl(236deg, 72%, 79%);
  transition: 0.4s;
}
.main-container header .toggle-wrapper .switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  top: 3.5px;
  border-radius: 50%;
  background-color: white;
  transition: 0.4s;
}
.main-container header .toggle-wrapper .switch #check-box:checked + .slider {
  background-color: hsl(236deg, 72%, 79%);
}
.main-container header .toggle-wrapper .switch #check-box:focus-within + .slider {
  outline: 1px solid hsl(237deg, 50%, 57%);
  box-shadow: 0px 3px 2px 3px rgba(125, 96, 222, 0.2);
  background-color: hsl(236deg, 53%, 83%);
}
.main-container header .toggle-wrapper .switch #check-box:checked + .slider:before {
  transform: translateX(18px);
}
.main-container .cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
@media only screen and (max-width : 625px) {
  .main-container .cards-container {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 10px;
  }
}
.main-container .cards-container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33.33%;
  height: 100%;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 6px 10px 3px rgba(109, 68, 244, 0.2);
}
@media only screen and (max-width : 625px) {
  .main-container .cards-container .card {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.main-container .cards-container .card .card-title {
  margin-bottom: 0.5rem;
}
.main-container .cards-container .card .card-title h3 {
  font-size: 1rem;
}
@media only screen and (max-width : 625px) {
  .main-container .cards-container .card .card-title {
    margin-bottom: 1.5rem;
  }
}
.main-container .cards-container .card .price-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
.main-container .cards-container .card .price-wrapper .currencey-symbol {
  margin-right: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--Dark-Grayish-Blue);
}
.main-container .cards-container .card .price-wrapper .price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--Dark-Grayish-Blue);
}
.main-container .cards-container .card .feature-list-wrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
.main-container .cards-container .card .feature-list-wrapper .feature-list {
  list-style: none;
}
.main-container .cards-container .card .feature-list-wrapper .feature-list .feature-list-item {
  font-weight: 700;
  font-size: 0.8rem;
  padding: 15px 0;
  border-top: 1px solid var(--Light-Grayish-Blue);
}
.main-container .cards-container .card .feature-list-wrapper .feature-list .feature-list-item:nth-child(3) {
  border-bottom: 1px solid var(--Light-Grayish-Blue);
}
.main-container .cards-container .card .learn-more {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.main-container .cards-container .sm-card {
  background-color: white;
  color: #333;
  z-index: 1;
}
.main-container .cards-container .sm-card .learn-more {
  color: white;
  background-image: linear-gradient(to right, hsl(236deg, 72%, 79%), hsl(237deg, 63%, 64%));
}
.main-container .cards-container .sm-card .learn-more:hover {
  border: 1px solid hsl(237deg, 63%, 64%);
  color: hsl(237deg, 63%, 64%);
  background-image: linear-gradient(to right, hsl(0deg, 0%, 100%), hsl(0deg, 0%, 100%));
}
.main-container .cards-container .card:nth-child(1) {
  right: -20px;
  padding-right: 3rem;
}
@media only screen and (max-width : 625px) {
  .main-container .cards-container .card:nth-child(1) {
    right: 0;
    padding: 2rem;
  }
}
.main-container .cards-container .card:nth-child(3) {
  right: 20px;
  padding-left: 3rem;
}
@media only screen and (max-width : 625px) {
  .main-container .cards-container .card:nth-child(3) {
    right: 0;
    padding: 2rem;
  }
}
.main-container .cards-container .med-card {
  background-image: linear-gradient(to bottom right, hsl(236deg, 72%, 79%), hsl(237deg, 63%, 64%));
  color: white;
  padding: 3.5rem 2rem;
  z-index: 2;
}
@media only screen and (max-width : 625px) {
  .main-container .cards-container .med-card {
    padding: 2rem;
  }
}
.main-container .cards-container .med-card .currencey-symbol {
  color: white !important;
}
.main-container .cards-container .med-card .price {
  color: white !important;
}
.main-container .cards-container .med-card .feature-list .feature-list-item {
  border-top: 1px solid var(--Light-Grayish-Blue) !important;
}
.main-container .cards-container .med-card .feature-list .feature-list-item:nth-child(3) {
  border-bottom: 1px solid var(--Light-Grayish-Blue) !important;
}
.main-container .cards-container .med-card .learn-more {
  background-color: white !important;
  color: hsl(237deg, 63%, 64%);
}
.main-container .cards-container .med-card .learn-more:hover {
  border: 1px solid white;
  color: white;
  background-color: hsl(237deg, 63%, 64%) !important;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: #333;
  width: 100%;
}
@media only screen and (max-width : 625px) {
  footer {
    position: relative;
  }
}
footer .attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
footer .attribution a {
  color: var(--Brand-Color-SkyBlue);
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */