@import "_var.scss";

$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 750px)";
$media-mobile: "only screen and (max-width : 550px)";
$media-mobile-sm: "only screen and (max-width : 375px)";



body{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-image: url('/images/bg-top.svg'), url('/images/bg-bottom.svg');
   background-position: right top, left bottom;
   background-repeat: no-repeat;
   background-size: contain, auto;
   background-color: var(--Very-Light-Grayish-Blue);
   height: 100%;
   line-height: 1;
}

.main-container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding: 20px;
   width: 75%;

   header{
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
      .title-wrapper{
         text-align: center;
         .title{
            font-size: 1.5rem;
            color: var(--Dark-Grayish-Blue);
            margin-bottom: 1.5rem;
         }
      }
      .toggle-wrapper{
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         p{
            font-size: 0.8rem;
            font-weight: 600;
            color: var(--Light-Grayish-Blue);
         }
         .switch{
            position: relative;
            display: inline-block;
            width: 45px;
            height: 27px;
            margin: 0 20px;
            input{
               opacity: 0;
               width: 0;
               height: 0;
            }
            .slider{
               position: absolute;
               cursor: pointer;
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
               border-radius: 34px;
               background-color: hsl(236, 72%, 79%);
               transition: .4s;
            }
            .slider:before{
               position: absolute;
               content: "";
               height: 20px;
               width: 20px;
               left: 4px;
               top: 3px;
               border-radius: 50%;
               background-color: white;
               transition: .4s;
            }
            #check-box:checked + .slider{
               // color: #6B71DE;
               background-color: hsl(236, 72%, 79%);
               // background-color: hsl(236, 53%, 83%);
            }
            #check-box:focus-within + .slider{
               outline: 1px solid hsl(237, 50%, 57%);
               // box-shadow: 0px 5px 20px 5px rgba(109, 68, 244, 0.3);
               box-shadow: 0px 3px 2px 3px rgba(125, 96, 222, 0.2);
               background-color: hsl(236, 53%, 83%);
            }
            #check-box:checked + .slider:before {
               transform: translateX(18px);
            }
         }
      }
   }
   .cards-container{
      display: flex;
      justify-content:space-around;
      align-items: center;
      width: 100%;
      margin-bottom: 1rem;
      
      .card{
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         width: 33.33%;
         height: 100%;
         padding: 2rem;
         border-radius: 10px;
         box-shadow: 0px 6px 10px 3px rgba(109, 68, 244, 0.2);

         .card-title{
            margin-bottom: 0.5rem;
            h3{
               font-size: 1rem;
            }
         }
         .price-wrapper{
            margin-bottom: 0.5rem;
            .price{
               display: flex;
               justify-content: center;
               align-items: center;
               font-size: 2.5rem;
               font-weight: 700;
               color: var(--Dark-Grayish-Blue);
               .currencey-symbol{
                  margin-right: 2px;
                  font-size: 2rem;
               }
            }
         }
         .feature-list-wrapper{
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
            .feature-list{
               list-style: none;
               .feature-list-item{
                  font-weight: 700;
                  font-size: 0.8rem;
                  padding: 15px 0;
                  border-top: 1px solid var(--Light-Grayish-Blue);
               }
               .feature-list-item:nth-child(3){
                  border-bottom: 1px solid var(--Light-Grayish-Blue);
               }
            }
         }
         .learn-more{
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            font-size: 0.8rem;
            font-weight: 600;
            padding: 10px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid transparent;
            transition: all 0.3s ease-in-out;
         }
      }
      .sm-card{
         background-color: white;
         color: #333;
         z-index: 1;
         .learn-more{
            color: white;
            background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
         }
         .learn-more:hover{ //link/button hover for small cards
            border: 1px solid hsl(237, 63%, 64%);
            color:hsl(237, 63%, 64%);
            background-image: linear-gradient(to right, hsl(0, 0%, 100%), hsl(0, 0%, 100%));
         }
      }
      .card:nth-child(1){
         right: -20px;
         padding-right: 3rem;
      }
      .card:nth-child(3){
         right: 20px;
         padding-left: 3rem;
      }
      .med-card{
         background-image: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
         color: white;
         padding: 3.5rem 2rem;
         z-index: 2;
         .price{
            color: white !important;
         }
         .feature-list{
            .feature-list-item{
               border-top: 1px solid var(--Light-Grayish-Blue) !important;
            } 
            .feature-list-item:nth-child(3){
               border-bottom: 1px solid var(--Light-Grayish-Blue) !important;
            }
         }
         .learn-more{
            background-color: white !important; 
            color:hsl(237, 63%, 64%);
         }
         .learn-more:hover{ //link/button hover for medium cards
            border: 1px solid white;
            color: white;
            background-color: hsl(237, 63%, 64%)!important;
         }
      }
   }
}


footer{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   bottom: 0;
   padding: 10px;
   background-color: #333;
   width: 100%;
   @media #{$media-mobile} {
      position: relative;
      bottom: 0;
   }
   .attribution { 
      font-size: 11px; text-align: center; 
      color: white;
      a { 
      color: hsl(228, 45%, 44%); 
      } 
   }
}